body {
  font-family: sans-serif;
  background: #dedede;
  padding: 48px;
}

h1 {
  text-align: center;
  display: inline-block;
  font-size: 72px;
}
:where(.ra-link) {
  display: var(--ra-link-display, inline-flex);
}

:where(.ra-link[href]) {
  color: var(--ra-link-color, inherit);
  text-decoration: var(--ra-link-text-decoration, none);
}

:where(.ra-heading) {
  margin-block-start: var(--ra-heading-margin-block-start, 0);
  margin-block-end: var(--ra-heading-margin-block-end, 0);
}

/*
  =====
  HELPERS
  =====
  */

.ha-screen-reader {
  width: var(--ha-screen-reader-width, 1px);
  height: var(--ha-screen-reader-height, 1px);
  padding: var(--ha-screen-reader-padding, 0);
  border: var(--ha-screen-reader-border, none);

  position: var(--ha-screen-reader-position, absolute);
  clip-path: var(--ha-screen-reader-clip-path, rect(1px, 1px, 1px, 1px));
  overflow: var(--ha-screen-reader-overflow, hidden);
}

/*
  =====
  UIA-TIMELINE
  =====
  */

.uia-timeline__container {
  display: var(--uia-timeline-display, grid);
}

.uia-timeline__groups {
  display: var(--uia-timeline-groups-display, grid);
  gap: var(--uia-timeline-groups-gap, 1rem);
}

/*
  SKIN 1
  */

[data-uia-timeline-skin="skin-1"] .uia-timeline__step {
  line-height: 1;
  font-size: var(--uia-timeline-step-font-size, 2rem);
  font-weight: var(--uia-timeline-step-font-weight, 700);
  color: var(--uia-timeline-step-color);
}

[data-uia-timeline-skin="skin-1"] .uia-timeline__point-intro {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: var(--uia-timeline-point-intro-gap, 0.5rem);
}

[data-uia-timeline-skin="skin-1"] .uia-timeline__point-date {
  grid-row: 1;
  grid-column: 2;
}

[data-uia-timeline-skin="skin-1"] .uia-timeline__point-heading {
  grid-column: span 2;
}

[data-uia-timeline-skin="skin-1"] .uia-timeline__point-description {
  margin-block-start: var(--uia-timeline-group-gap, 1rem);
  inline-size: min(100%, var(--uia-timeline-content-max-limit));
}

/*
  SKIN 2
  */

[data-uia-timeline-skin="2"] {
  --_uia-timeline-line-color_default: #222;
  --_uia-timeline-minimal-gap: var(--uia-timeline-minimal-gap, 0.5rem);
  --_uia-timeline-space: calc(
    var(--_uia-timeline-arrow-size) + var(--_uia-timeline-dot-size) +
      var(--_uia-timeline-dot-size) / 2 + var(--_uia-timeline-minimal-gap)
  );
  --_uia-timeline-dot-size: var(--uia-timeline-dot-size, 1rem);
  --_uia-timeline-arrow-size: var(--uia-timeline-arrow-size, 0.25rem);
  --_uia-timeline-arrow-position: var(--uia-timeline-arrow-position, 1rem);
}

[data-uia-timeline-skin="2"] .uia-timeline__container {
  position: relative;
  padding-inline-start: calc(var(--_uia-timeline-space));
}

[data-uia-timeline-skin="2"] .uia-timeline__line {
  inline-size: var(--uia-timeline-line-thickness, 3px);
  block-size: 100%;
  background-color: var(
    --uia-timeline-line-color,
    var(--_uia-timeline-line-color_default)
  );

  position: absolute;
  inset-block-start: 0;
  inset-inline-start: calc(var(--_uia-timeline-dot-size) / 2);
  transform: translate(-50%);
}

[data-uia-timeline-skin="2"] .uia-timeline__group {
  position: relative;
}

[data-uia-timeline-skin="2"] .uia-timeline__dot {
  box-sizing: border-box;
  inline-size: var(--_uia-timeline-dot-size);
  block-size: var(--_uia-timeline-dot-size);

  border-radius: 50%;
  border: var(--uia-timeline-dot-border-thickness, 1px) solid
    var(
      --uia-timeline-dot-border-color,
      var(--_uia-timeline-line-color_default)
    );
  background-color: var(
    --uia-timeline-dot-color,
    var(--_uia-timeline-line-color_default)
  );

  position: absolute;
  /* - 4px is used for set the default gap from the top border */
  inset-block-start: calc(
    var(--uia-timeline-dot-position, var(--_uia-timeline-arrow-position)) + 4px
  );
  inset-inline-start: calc(-1 * var(--_uia-timeline-space));
}

[data-uia-timeline-skin="2"] .uia-timeline__point {
  position: relative;
  background-color: var(--uia-timeline-point-background-color, #fff);
}

[data-uia-timeline-skin="2"] .uia-timeline__point::before {
  content: "";
  inline-size: 0;
  block-size: 0;

  border: var(--_uia-timeline-arrow-size) solid
    var(--uia-timeline-arrow-color, var(--_uia-timeline-line-color_default));
  border-block-start-color: transparent;
  border-inline-end-color: transparent;

  position: absolute;
  /* - 6px is used for set the default gap from the top border */
  inset-block-start: calc(var(--_uia-timeline-arrow-position) + 6px);
  inset-inline-start: calc(-1 * var(--_uia-timeline-arrow-size) + 1px);
  transform: rotate(45deg);
}

[data-uia-timeline-adapter-skin-2="ui-card-skin-#1"] {
  --uia-card-padding: var(--uia-timeline-point-padding, 1.5rem 1.5rem 1.25rem);
  --uia-card-border-thickness: var(--uia-timeline-point-border-thickness, 3px);
  --uia-card-border-color: var(
    --uia-timeline-point-border-color,
    var(--_uia-timeline-line-color_default)
  );
  --uia-card-background-color: var(--uia-timeline-point-background-color);
}

/*
  SKIN 3
  */

[data-uia-timeline-skin="3"] {
  --_uia-timeline-line-color_default: #222;
  --_uia-timeline-space: var(--uia-timeline-space, 1rem);
  --_uia-timeline-line-thickness: var(--uia-timeline-line-thickness, 2px);
  --_uia-timeline-point-line-position: var(
    --uia-timeline-point-line-position,
    1rem
  );
}

[data-uia-timeline-skin="3"] .uia-timeline__container {
  position: relative;
  gap: var(--uia-timeline-annual-sections-gap, 2.5rem);
}

[data-uia-timeline-skin="3"] .uia-timeline__line {
  inline-size: var(--_uia-timeline-line-thickness);
  block-size: 100%;
  background-color: var(
    --uia-timeline-line-color,
    var(--_uia-timeline-line-color_default)
  );

  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
}

[data-uia-timeline-skin="3"] .uia-timeline__annual-sections {
  display: grid;
  gap: 2rem;
}

[data-uia-timeline-skin="3"] .uia-timeline__groups {
  padding-inline-start: calc(var(--_uia-timeline-space));
}

[data-uia-timeline-skin="3"] .uia-timeline__group {
  position: relative;
  isolation: isolate;
}

[data-uia-timeline-skin="3"] .uia-timeline__point {
  background-color: var(--uia-timeline-point-background-color, #fff);
}

[data-uia-timeline-skin="3"] .uia-timeline__point::before {
  content: "";
  inline-size: 100%;
  block-size: var(--_uia-timeline-line-thickness);
  background-color: var(
    --uia-timeline-line-color,
    var(--_uia-timeline-line-color_default)
  );

  position: absolute;
  inset-block-start: var(--_uia-timeline-point-line-position);
  inset-inline-start: calc(-1 * var(--_uia-timeline-space));
  z-index: -1;
}

[data-uia-timeline-skin="3"] .uia-timeline__year {
  inline-size: fit-content;
  padding: var(--uia-timeline-year-padding, 0.25rem 0.75rem);
  background-color: var(
    --uia-timeline-year-background-color,
    var(--_uia-timeline-line-color_default)
  );
  color: var(--uia-timeline-year-color, #f0f0f0);
}

[data-uia-timeline-adapter-skin-3="ui-card-skin-#1"] {
  --uia-card-padding: var(--uia-timeline-point-padding, 1.5rem 1.5rem 1.25rem);
  --uia-card-border-thickness: var(--uia-timeline-point-border-thickness, 3px);
  --uia-card-border-color: var(
    --uia-timeline-point-border-color,
    var(--_uia-timeline-line-color_default)
  );
  --uia-card-background-color: var(--uia-timeline-point-background-color);
}

/*
  SKIN 4
  */

[data-uia-timeline-skin="4"] {
  --_uia-timeline-line-color_default: #222;
  --_uia-timeline-space: var(--uia-timeline-space, 0.5rem);
  --_uia-timeline-line-thickness: var(--uia-timeline-line-thickness, 2px);
  --_uia-timeline-annual-sections-safe-gap: var(
    --uia-timeline-annual-sections-safe-gap,
    1.5rem
  );
  --_uia-timeline-point-line-position: var(
    --uia-timeline-point-line-position,
    1rem
  );
  --_uia-timeline-year-size: var(--uia-timeline-year-size, 3.5rem);
}

[data-uia-timeline-skin="4"] .uia-timeline__container {
  position: relative;
  gap: var(--uia-timeline-annual-sections-gap, 2.5rem);
}

[data-uia-timeline-skin="4"] .uia-timeline__line {
  inline-size: var(--_uia-timeline-line-thickness);
  block-size: 100%;
  background-color: var(
    --uia-timeline-line-color,
    var(--_uia-timeline-line-color_default)
  );

  position: absolute;
  inset-block-start: 0;
  inset-inline-start: calc(var(--_uia-timeline-year-size) / 2);
  transform: translate(-50%);
  z-index: -1;
}

[data-uia-timeline-skin="4"] .uia-timeline__annual-sections {
  display: flex;
  align-items: flex-start;
  isolation: isolate;
}

[data-uia-timeline-skin="4"] .uia-timeline__groups {
  padding-inline-start: calc(var(--_uia-timeline-space));
  padding-block-start: calc(
    var(--_uia-timeline-year-size) +
      var(--_uia-timeline-annual-sections-safe-gap)
  );
}

[data-uia-timeline-skin="4"] .uia-timeline__group {
  position: relative;
  isolation: isolate;
}

[data-uia-timeline-skin="4"] .uia-timeline__point {
  background-color: var(--uia-timeline-point-background-color, #fff);
}

[data-uia-timeline-skin="4"] .uia-timeline__point::before {
  content: "";
  inline-size: 100%;
  block-size: var(--_uia-timeline-line-thickness);
  background-color: var(
    --uia-timeline-line-color,
    var(--_uia-timeline-line-color_default)
  );

  position: absolute;
  inset-block-start: var(--_uia-timeline-point-line-position);
  inset-inline-start: calc(
    -1 * (var(--_uia-timeline-space) + var(--_uia-timeline-year-size) / 2)
  );
  z-index: -1;
}

[data-uia-timeline-skin="4"] .uia-timeline__year {
  box-sizing: border-box;
  flex: none;
  inline-size: var(--_uia-timeline-year-size);
  block-size: var(--_uia-timeline-year-size);

  border: var(
      --uia-timeline-year-line-thickness,
      var(--_uia-timeline-line-thickness)
    )
    var(--uia-timeline-year-line-style, solid)
    var(--uia-timeline-line-color, var(--_uia-timeline-line-color_default));
  border-radius: 50%;

  display: grid;
  place-items: center;
  background-color: var(--uia-timeline-year-background-color, #f0f0f0);

  font-size: var(--uia-timeline-year-font-size, 0.75rem);
  color: var(--uia-timeline-year-color, #222);
}

[data-uia-timeline-adapter-skin-4="ui-card-skin-#1"] {
  --uia-card-padding: var(--uia-timeline-point-padding, 1.5rem 1.5rem 1.25rem);
  --uia-card-border-thickness: var(--uia-timeline-point-border-thickness, 3px);
  --uia-card-border-color: var(
    --uia-timeline-point-border-color,
    var(--_uia-timeline-line-color_default)
  );
  --uia-card-background-color: var(--uia-timeline-point-background-color);
}

/*
  =====
  UIA-CARD
  =====
  */

.uia-card__time-divider::before {
  content: "—";
  margin-inline: var(--uia-card-time-divider-margin-inline, 0.15rem);
}

[data-uia-card-skin="1"] .uia-card__container {
  display: grid;
  gap: 0.5rem;
  padding: var(--uia-card-padding, 1rem 1.75rem);

  background-color: var(--uia-card-background-color);
  border-radius: var(--uia-card-border-radius, 2px);
}

[data-uia-card-skin="1"] .uia-card__intro {
  display: grid;
  gap: var(--uia-card-intro-gap, 1rem);
}

[data-uia-card-skin="1"] .uia-card__time {
  grid-row: 1 / 1;
  inline-size: fit-content;
  padding: var(--uia-card-time-padding, 0.25rem 1.25rem 0.25rem);
  background-color: var(--uia-card-time-background-color, #f0f0f0);

  font-weight: var(--uia-card-time-font-weight, 700);
  font-size: var(--uia-card-time-font-size, 0.75rem);
  text-transform: var(--uia-card-time-text-transform, uppercase);
  color: var(--uia-card-time-color, currentColor);
}

[data-uia-card-skin="1"][data-uia-card-mod="1"] .uia-card__container {
  border-inline-start: var(--uia-card-border-thickness, 2px)
    var(--uia-card-border-style, solid)
    var(--uia-card-border-color, currentColor);
  box-shadow: var(
    --uia-card-box-shadow,
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 2px 0 rgba(0, 0, 0, 0.24)
  );
}

/*
  =====
  DEMO
  =====
  */

:root {
  --uia-timeline-line-color: #4557bb;
  --uia-timeline-dot-color: #4557bb;
  --uia-timeline-arrow-color: #4557bb;
  --uia-timeline-line-thickness: 3px;
  --uia-timeline-point-border-color: #4557bb;
  --uia-timeline-group-padding: 1.5rem 1.5rem 1.25rem;
}

[data-uia-timeline-skin="3"] {
  --uia-timeline-year-background-color: #4557bb;
}

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Open Sans,
    Ubuntu,
    Fira Sans,
    Helvetica Neue,
    sans-serif;
  color: #222;

  background-color: #f0f0f0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.5;
}

p:last-child {
  margin-bottom: 0;
}

.page {
  max-inline-size: 80ch;
  padding: 5rem 2rem 3rem;
  margin-inline: auto;
}

.linktr {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  text-align: center;
}

.linktr__goal {
  background-color: rgb(209, 246, 255);
  color: rgb(8, 49, 112);
  box-shadow: rgb(8 49 112 / 24%) 0 2px 8px 0;
  border-radius: 2rem;
  padding: 0.75rem 1.5rem;
}
body {
  background: url("https://assets.codepen.io/567707/bg-coffee-bag.jpg")
    no-repeat center center / cover;
  font-family: "Roboto Mono", sans-serif;
  width: 100%;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

* {
  box-sizing: border-box;
}

strong {
  font-weight: 500;
}

main {
  line-height: 0;
  position: relative;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  padding: 3% 5%;
  @media (min-width: 1600px) {
    margin: auto;
    transform: translateX(-20%);
  }
  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: top left;
    max-width: 1400px;
    @media (min-width: 1100px) {
      height: auto;
    }
  }
}

.coffee-card {
  flex: 1;
  max-width: 430px;
  min-width: 380px;
  display: grid;
  grid-template-columns: 1.2fr 1fr min-content;
  grid-auto-rows: min-content;
  background: #fdfdfd;
  margin: 2rem;
  line-height: 1.5;
  position: relative;
  box-shadow:
    0 4px 0 -2px #ddd,
    1px 1px 0 0 #f7f7f7;

  &:before,
  &:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 35px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    box-shadow: 0 35px 20px #777;
    transform: rotate(-4deg);
  }
  &::after {
    transform: rotate(4deg);
    right: 10px;
    left: auto;
  }

  > * {
    padding: 0.6rem 1.2rem;
  }
  h1 {
    font-size: clamp(2.2rem, 4.2vw, 3rem);
    line-height: 1;
    font-weight: 500;
  }
  .name {
    grid-column: 1 / -1;
    grid-row: 2;
    padding-bottom: 1.2rem;
  }

  .info,
  .location,
  .type,
  .pattern {
    grid-column: 1 / span 2;
  }
  .date,
  .weight {
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    padding: 1.2rem 0;
  }
  .date,
  .weight,
  .footnote,
  .site {
    font-size: 85%;
  }
  .date {
    grid-row: 3 / span 4;
    grid-column: 3 / 4;
  }
  .footnote {
    grid-column: 1 / 2;
  }
  .weight {
    grid-row: 7 / span 1;
    grid-column: 3 / 4;
    min-height: 10rem;
  }
  .pattern {
    grid-row: 6 / span 2;
    min-height: 16.5rem;
    background-repeat: repeat;
  }
}

.side-title {
  display: inline-block;
  margin-bottom: 0.75rem;
  border-bottom: 0.5px dashed;
  padding: 0 0.8rem 0.75rem;
}

.name,
.info,
.location,
.weight {
  border-bottom: 0.5px dashed;
}
.info,
.location,
.type,
.footnote {
  border-right: 0.5px dashed;
}

.checkbox {
  display: inline-block;
  pointer-events: none;
  &:nth-child(1) {
    margin-right: 30px;
  }
  input {
    height: 0;
    width: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    &:checked + label:after {
      content: "";
      position: absolute;
      width: 22px;
      height: 5px;
      background: black;
      left: 3px;
      transform: rotate(-45deg);
      top: 10px;
      border-radius: 5px;
    }
  }
  label {
    padding: 5px 20px 5px 30px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      border: 1px dashed;
      width: 18px;
      height: 18px;
      left: 0;
    }
  }
}

//decorative
.strip {
  grid-column: 1 / 3;
  grid-row: 1;
}

.square {
  background: black;
  &.one {
    grid-row: 1;
    grid-column: 3/4;
    height: 2.5rem;
  }
  &.two {
  }
}

.pattern {
  background-image: repeating-radial-gradient(
      circle at 60%,
      #eee,
      #eee 3px,
      transparent 4px,
      #eee 5px
    ),
    repeating-radial-gradient(
      circle at 45%,
      #999,
      #999 3px,
      transparent 4px,
      #999 5px
    );
  background-size: 200%;
}

.pattern-one {
  background-image: radial-gradient(#999 15%, transparent 16%),
    radial-gradient(#bbbbbb 15%, transparent 16%),
    linear-gradient(45deg, transparent 48%, #666 48%, #666 52%, transparent 52%),
    linear-gradient(-45deg, #fff 48%, #999 48%, #999 52%, #fff 52%);
  background-size:
    20px 20px,
    20px 20px,
    10px 10px,
    10px 10px;
  background-position:
    0 0,
    10px 10px,
    0 0,
    0 0;
}

.pattern-two {
  background-image: repeating-radial-gradient(
    ellipse at right,
    #888 10%,
    #888 1px,
    transparent 1px,
    transparent 3px,
    #888 3px,
    #888 4px,
    transparent 4px,
    transparent 5px,
    #888 5px,
    #888 6px,
    transparent 6px,
    #888 6px,
    #888 7px,
    transparent 7px,
    transparent 8px,
    #888 8px,
    #888 9px,
    transparent 9px,
    transparent 10px
  );
  background-size: 20px 40px;
}
